<div class="grid p-fluid">
    <div class="col-12 lg:col-12 md:col-6">
        <div class="card">
            <h5>Cadastro Lançamento</h5>
            <form [formGroup]="form" class="grid formgrid">
                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-3">
                    <input
                        pInputText
                        type="text"
                        formControlName="nome"
                        form
                        placeholder="Nome"
                        class="ng-invalid ng-dirty"
                    />
                </div>
                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-3">
                    <p-dropdown [options]="categorias" formControlName="categoriaId" optionLabel="nome" [showClear]="true" placeholder="Selecione uma categoria">
                        <ng-template let-categoria pTemplate="item">
                            <div>
                                <div>{{categoria.nome}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-3">
                    <p-inputNumber
                        mode="decimal"
                        formControlName="quantidadeRepeticao"
                        [showButtons]="true"
                        [min]="0"
                        [max]="100"
                    >
                    </p-inputNumber>
                </div>
                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-3">
                    <p-inputNumber
                        mode="decimal"
                        formControlName="valorTotal"
                        [showButtons]="true"
                        [min]="0"
                        [max]="100"
                    >
                    </p-inputNumber>
                </div>
                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-3">
                    <p-calendar
                        [showIcon]="true"
                        [showButtonBar]="true"
                        formControlName="dataCriacao"
                    ></p-calendar>
                </div>

                <div class="col-12 mb-2 lg:col-12 md:col-6 lg:mb-0">
                    <button
                        pButton
                        type="button"
                        (click)="createLancamento()"
                        [disabled]="this.form.invalid"
                        label="Salvar"
                        class="p-button-outlined"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</div>
